<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <tittle> sistema gestión-sst</tittle>

    </head>
    <html>
        <center><h1>Color de fondo</h1> </center>

        <body bgcolor="#18c898">
     <center><img src="https://img1.freepng.es/20180803/lxa/kisspng-logo-organization-certification-iso-9001-iso-9000-supercargo-agente-de-carga-internacional-importaci-5b649f03b80ab5.0358990615333209637539.jpg" alt=""></center>

    </body>
    </html>
